Diagnostics:
    UnusedIncludes: None
    MissingIncludes: None
CompileFlags:
    Remove: [-cfg=*, -exec_root=*, -inputs=*, -DUNSAFE_BUFFERS_BUILD]
    Add: [ 
        "-Isrc", 
        "-ID:/vcpkg/installed/x64-windows-static/include",
        "-ID:/vcpkg/installed/x64-windows-static/include/skia",
        "-std=c++20",
        "-DNOMINMAX",
        "-DDPI_AWARENESS_CONTEXT_PER_MONITOR_AWARE_V2=1"
    ]

